@tailwind base;
@tailwind components;
@tailwind utilities;

.show-footer-info {
    transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

body {
    overflow-x: hidden;
}

.category > .swiper {
    padding-bottom: 50px !important;
}

.product-seller > .swiper {
    padding-bottom: 30px !important;
}

.swiper-pagination-bullet-active {
    background-color: black !important; /* Màu nền của nút active */
    border: none !important;
    transition: all 0.6s ease;
}

.slider-image-product > .slick-slider > .slick-prev:before {
    color: black;
}

@media only screen and (min-width: 1280px) {
    .slider-image-product > .slick-vertical {
        width: 60px;
    }
}

@media only screen and (min-width: 1500px) {
    .slider-image-product > .slick-vertical {
        width: 80px;
    }
}

.quick-add-item::-webkit-scrollbar {
    width: 3px;
}

/* Track */
.quick-add-item::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.quick-add-item::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.quick-add-item::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.before-background {
    background: linear-gradient(0deg, #fffc 38.19%, #fff0);
}

.container {
    position: relative;
}

.custom-cursor {
    position: absolute;
    width: 40px; /* Adjust size as needed */
    border-radius: 100%;
    height: 40px; /* Adjust size as needed */
    background-size: cover;
    pointer-events: none; /* Ensure the cursor doesn't interfere with mouse events */
}

.ant-switch-checked {
    background-color: #49b34f !important;
}