@tailwind base;
@tailwind components;
@tailwind utilities;

.show-footer-info {
    transition: all 0.5s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

body {
    overflow-x: hidden;
}

.category > .swiper {
    padding-bottom: 30px !important;
}

.product-seller > .swiper {
    padding-bottom: 30px !important;
}

.swiper-pagination-bullet-active {
    background-color: black !important; /* Màu nền của nút active */
    border: none !important;
    transition: all 0.6s ease;
}

.slider-image-product > .slick-slider > .slick-prev:before {
    color: black;
}